USE [master]
GO
/****** Object:  Database [MoviesInformationDB]    Script Date: 3/24/2020 6:01:26 PM ******/
CREATE DATABASE [MoviesInformationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoviesInformationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MoviesInformationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoviesInformationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MoviesInformationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoviesInformationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoviesInformationDB]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 3/24/2020 6:01:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[ActorsId] [int] IDENTITY(1,1) NOT NULL,
	[ActorName] [varchar](50) NOT NULL,
	[Fees] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ActorsDetails] PRIMARY KEY CLUSTERED 
(
	[ActorsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieDetails]    Script Date: 3/24/2020 6:01:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieDetails](
	[MovieDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ActorsId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MovieDetails] PRIMARY KEY CLUSTERED 
(
	[MovieDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 3/24/2020 6:01:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [varchar](50) NOT NULL,
	[ReleaseDate] [datetimeoffset](7) NOT NULL,
	[MovieType] [varchar](50) NOT NULL,
	[MovieLanguage] [varchar](50) NOT NULL,
	[MovieCost] [varchar](50) NOT NULL,
	[ShootingDuration] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MovieDetails]  WITH CHECK ADD  CONSTRAINT [FK_MovieDetails_Actors] FOREIGN KEY([ActorsId])
REFERENCES [dbo].[Actors] ([ActorsId])
GO
ALTER TABLE [dbo].[MovieDetails] CHECK CONSTRAINT [FK_MovieDetails_Actors]
GO
ALTER TABLE [dbo].[MovieDetails]  WITH CHECK ADD  CONSTRAINT [FK_MovieDetails_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[MovieDetails] CHECK CONSTRAINT [FK_MovieDetails_Movies]
GO
USE [master]
GO
