<div class="container" style="margin-top: 2rem;">
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">MobileNumber</th>
        <th scope="col">Email</th>
        <th scope="col">Course</th>
        <th scope="col">Fees</th>
        <th scope="col">Operation</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sandip</td>
        <td>9737381597</td>
        <td>sandip@gmail.com</td>
        <td>MCAL</td>
        <td>Paid</td>
       <td colspan="2"> <button type="submit" [routerLink]="['/update',1]"  class="btn btn-outline-secondary">Update</button> &nbsp;&nbsp;
    <button type="submit" [routerLink]="['/delete']"  class="btn btn-outline-danger">Delete</button></td>
      </tr>
  
    </tbody>
  </table>
</div>