<div class="container" style="margin-top: 2rem;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">MobileNumber</th>
        <th scope="col">Email</th>
        <th scope="col">Course</th>
        <th scope="col">Fees</th>
        <th scope="col">Operation</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of getData index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{s.Name}}</td>
        <td>{{s.MobileNumber}}</td>
        <td>{{s.Email}}</td>
        <td>{{s.Course}}</td>
        <td>{{s.Fees}}</td>
        <td colspan="2"> <button type="submit" [routerLink]="['/update',s.StudentId]"
            class="btn btn-outline-secondary">Update</button> &nbsp;&nbsp;
          <button type="submit" [routerLink]="['/delete',s.StudentId]" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>